:root {
	--map-pin-size: 60px;
}

.cmp-map-pin-modal output,
.cmp-map-pin-modal p {
    opacity: 0.6;
}

.cmp-map-pin-modal output {
    display: inline-block;
    height: 1rem;
    width: calc(100% - 2rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cmp-settings-button {
	position: relative;
	top: -1rem;
	display: inline;
	padding: 1rem;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23b3b3b3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-settings'%3E%3Cpath d='M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915'/%3E%3Ccircle cx='12' cy='12' r='3'/%3E%3C/svg%3E");
	cursor: pointer;
}

.cmp-name-input {
    overflow: hidden;
    padding: var(--size-2-3) var(--size-4-2);
    resize: none;
    width: 100%;
}

.cmp-map-pin {
	cursor: pointer;
}

.cmp-map-pin > * {
	display: none;
}

.cmp-map-pin:before,
.cmp-map-pin:after {
	display: block;
	transition: 0.3s opacity, 0.3s transform;
}

.cmp-map-pin:before {
	content: "";
	position: relative;
	top: -100%;
	left: -50%;
	width: var(--map-pin-size, 100%);
	height: var(--map-pin-size, 100%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-map-pin-icon lucide-map-pin'%3E%3Cpath d='M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0'/%3E%3Ccircle cx='12' cy='10' r='3'/%3E%3C/svg%3E"); 
	background-repeat: no-repeat;
	background-size: contain;
	filter: drop-shadow(2px 4px 6px black);
/*
	Drop shadow doesn't work, but you can change the color...
	background-color: white;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-map-pin-icon lucide-map-pin'%3E%3Cpath d='M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0'/%3E%3Ccircle cx='12' cy='10' r='3'/%3E%3C/svg%3E"); 
	mask-repeat: no-repeat;
	mask-size: contain;
*/

}

.cmp-map-pin:after {
	content: attr(data-map-pin-name);
	position: absolute;
	top: -200%;
	left: -100%;
	width: 200%;
	font-size: calc(0.375 * var(--map-pin-size, 60px));
	text-align: center;
	color: white;
	filter: drop-shadow(2px 4px 6px black) drop-shadow(0px 0px 2px black);
	opacity: 0;
}


.cmp-map-pin:hover:after {
	transform: translate(0, -160%) scale(2);
	opacity: 1;
}

.cmp-map-pin:hover:before {
	transform: translate(0, -50%) scale(2);
}

.cmp-no-drop,
.cmp-no-drop > * {
	cursor: no-drop;
}

.cmp-dragging:hover:before,
.cmp-dragging:hover:after {
	content: ""; /* cheap way of doing opacity 0 for :after only without writing another rule. Also ensures it won't come up "undefined" */
	transform: none;
}

.cmp-dragging:after {
    height: 200%;
    top: -100%;
    left: -100%;
}