:root {
	--map-pin-size: 60px;
}

.canvas-node-interaction-layer {
    background-color: blue;
    opacity: 0.3;
}

.cmp-no-drop {
	cursor: no-drop;
}

.cmp-map-pin {
	cursor: pointer;
}

.cmp-map-pin > * {
	display: none;
}

.cmp-map-pin:before,
.cmp-map-pin:after {
	display: block;
	transition: 0.3s opacity, 0.3s transform;
}

.cmp-map-pin:before {
	content: "";
	position: relative;
	top: -100%;
	left: -50%;
	width: var(--map-pin-size, 100%);
	height: var(--map-pin-size, 100%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-map-pin-icon lucide-map-pin'%3E%3Cpath d='M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0'/%3E%3Ccircle cx='12' cy='10' r='3'/%3E%3C/svg%3E"); 
	background-repeat: no-repeat;
	background-size: contain;
	filter: drop-shadow(2px 4px 6px black);
/*
	Drop shadow doesn't work, but you can change the color...
	background-color: white;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-map-pin-icon lucide-map-pin'%3E%3Cpath d='M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0'/%3E%3Ccircle cx='12' cy='10' r='3'/%3E%3C/svg%3E"); 
	mask-repeat: no-repeat;
	mask-size: contain;
*/

}

.cmp-map-pin:after {
	content: attr(data-map-pin-name);
	position: absolute;
	top: -200%;
	left: -100%;
	width: 200%;
	font-size: calc(0.375 * var(--map-pin-size, 60px));
	text-align: center;
	color: white;
	filter: drop-shadow(2px 4px 6px black) drop-shadow(0px 0px 2px black);
	opacity: 0;
}


.cmp-map-pin:hover:after {
	transform: translate(0, -160%) scale(2);
	opacity: 1;
}

.cmp-map-pin:hover:before {
	transform: translate(0, -50%) scale(2);
}